@media screen and (max-width:991px){
    /*Custom CSS*/
    section{
        padding: 30px 0;
    }
    h2{
        font-size: 30px;
        line-height: 40px;
    }
    h3{
        font-size: 20px;
    }

    /*-----NAVBAR-----*/

    .header-scrolled{
        height: auto;
    }

    .header_wrapper .menu-navbar-nav{
        text-align: center;
        background-color: var(--bg-dark-blue);
        padding-bottom: 15px;
        
    }
    
    .header_wrapper .nav-item .nav-lien{
        margin-top: 15px !important;
    }

    /*------banner------*/

    .banner_wrapper{
        padding: 200px 0;
    }

    /*--------about---------*/
    .about_wrapper ul.nav-pills{
        width: 59.4%;
        margin: auto;
    }
    .about_wrapper ul li .nav-link{
        font-size: 14px;
    }

    /*-------portfolio------*/
    .portfolio_wrapper .card{
        min-height: 400px;
    }
  
   
}

 
@media screen and (max-width:767px){
    /*Custom CSS*/
    h1{
        font-size: 40px;
        line-height: 48px;
    }
    h2{
        font-size: 25px;
    }
    p{
        font-size: 13px;
        line-height: 24px;
    }

    /*-----NAVBAR-----*/

    .header-scrolled{
        height: auto;
    }

    .header_wrapper .menu-navbar-nav{
        text-align: center;
        background-color: var(--bg-dark-blue);
        padding-bottom: 15px;
        color: var(--text-gray);
    }
    
    .header_wrapper .nav-item .nav-lien{
        margin-top: 15px !important;
    }


    /*--------about---------*/
    .about_wrapper ul.nav-pills{
        width: 100%;
        margin: auto;
        border: 0;
    }
    .about_wrapper ul li .nav-link{
        font-size: 10px;
    }

    /*-------portfolio------*/
    .portfolio_wrapper .card{
        min-height: 500px;
    }

    
    
}




